body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media screen and (min-width: 600px) {
  
}
.container {
  display: flex;
  padding-top: 50px;
  width: 600px;
  flex-direction: column;
}

.box {
  display: flex !important;
  align-items: center;
}

.song-title {
  margin-left: 20px;
}

.controls {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.controls .button {
  margin: 5px;
}

.current-track {
  width: 80%;
}
.boxcontrol{
  margin-top: 10px;
  padding:20px 40px 20px 40px;
width: 30%;
border-radius: 5px;
background-color: grey;
}